# Virtual environments
venv/
python/venv/
.venv/

# Python
__pycache__/
*$py.class

# macOS
.DS_Store

# Jupyter
.ipnyb_checkpoints/

# Environment variables
.env

# VS Code
.vscode/

#Python cache
.pytest_cache/
.mypy_cache/
